html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/overlay.png') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    margin: 25vh 0 0;
}

header .light {
    display: none;
}

header .dark {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5vh 3px;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

article[data-page] {
    display: none;
}

footer {
    text-align: center;
    margin-bottom: 25vh;
    font-size: 0.9rem;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

footer a {
    color: rgb(27, 127, 243);
    text-decoration: none;
}

footer a:hover {
    color: rgb(35, 209, 247);
}

footer span {
    color: rgb(0, 0, 0);
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
    border-radius: 48px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.75);
}

.markdown-body.doc {
    padding: 15px 15px 48px;
}

.markdown-body.info {
    padding: 15px 15px 15px;
}

.markdown-body a {
    color: rgb(27, 127, 243);
}

.markdown-body a:hover {
    color: rgb(35, 209, 247);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    header .light {
        display: block;
    }

    header .dark {
        display: none;
    }

    footer a {
        color: rgb(35, 209, 247);
        text-decoration: none;
    }

    footer a:hover {
        color: rgb(27, 127, 243);
    }

    footer span {
        color: rgb(255, 255, 255);
    }

    .markdown-body {
        background-color: rgba(0, 0, 0, 0.75);
    }

    .markdown-body a {
        color: rgb(35, 209, 247);
    }

    .markdown-body a:hover {
        color: rgb(27, 127, 243);
    }
}

@media (min-width: 768px) {
    .markdown-body {
        width: auto;
    }

    .markdown-body.doc {
        padding: 15px 45px 48px;
    }

    .markdown-body.info {
        padding: 15px 45px 45px;
    }
}